BODY {
    background: hsl(265, 27%, 61%);
    padding: 50px;
}

H1,H2,H3 {
    color: #161047;
    font-family: sans-serif;
}

#mypic {
    width: 200px;
}

#introduction h2 {
    font-style: italic;
}

#introduction p {
    font-size: 120%
}

.navigation {
    display: flex;
    gap: 20px;
} 
a{color:oldlace;}
