p {  
     background-color:pink;
    color: purple;  
    padding-top:20px; 
    margin:50px; 
 
    .high1 {background:yellowgreen;} 
}  
   funny {background:yellow}  
   #Myseal{ 
width:400px;
   }
 
   
