 
.test-div {
    background: orange; 
    padding:20px; 
    margin:20px;
 } 
  
 div.test-div h2 { 
     color: purple; 

 }  
   
 .test-div{
    color:aquamarine;
 } 
  
 .test-div .special { 
    background:peachpuff;
 }
 
 .special{ 
    background:peachpuff
 }
 .test-div:hover{ 
background:pink;
 }
  
 h1,h2,h3,h4{ 
    text-decoration: underline;
 } 
 h2{color:blue;}  
  
 test-div h2{color:green;} 
  
 #house{ 
 display: flex;   
 flex-wrap:wrap;
 
 }  
  
 #house DIV {width:400px;}
 #split{ 
    display: flex; 
    flex-direction:column
 }
  
 