h1{color:rgb(243, 47, 138);   
    font-size: 60px;
}



p{ background-color:darkslateblue; 
    color:rgb(107, 233, 240); 
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: 40px
}  
h2{ 
    color:aquamarine; 
    font-size: 50px;
} 

.high1{color:chartreuse; 
     margin:30px;  
     font-size: 40px;

    }
.high2{color:rgb(243, 47, 138); 
    margin:30px;
    font-size: 40px;
} 
